In [1]:
import numpy as np 
import pandas as pd

In [175]:
df = pd.read_csv("city_day.csv")
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [176]:
df.shape

(29531, 16)

In [177]:
mumbai= df[df['City'] == 'Mumbai']

In [178]:
mumbai.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
21855,Mumbai,2015-01-01,NaN,NaN,NaN,NaN,27.38,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN
21856,Mumbai,2015-01-02,NaN,NaN,NaN,NaN,26.20,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN
21857,Mumbai,2015-01-03,NaN,NaN,NaN,NaN,26.04,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN
21858,Mumbai,2015-01-04,NaN,NaN,NaN,NaN,25.97,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN
21859,Mumbai,2015-01-05,NaN,NaN,NaN,NaN,25.18,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN

In [179]:
mumbai.shape

(2009, 16)

In [180]:
mumbai.isnull().sum()

City             0
Date             0
PM2.5         1225
PM10          1246
NO            1242
NO2           1253
NOx            499
NH3           1614
CO              25
SO2           1220
O3            1212
Benzene        210
Toluene        993
Xylene         994
AQI           1234
AQI_Bucket    1234
dtype: int64

In [181]:
mumbai = mumbai.drop('NH3', axis=1)


print('mode:',mumbai['PM2.5'].mode())
print('mean:',mumbai['PM2.5'].mean())
print('median:',mumbai['PM2.5'].median())

mode: 0    12.33
1    12.96
2    14.62
3    18.67
4    19.26
Name: PM2.5, dtype: float64
mean: 35.198392857142856
median: 23.744999999999997

In [182]:
#df['column_name'].fillna(df['column_name'].mean(), inplace=True)
mumbai['PM2.5']=mumbai['PM2.5'].fillna(mumbai['PM2.5'].median())

In [183]:
mumbai['PM2.5'].isnull().sum()

0

In [184]:
print('mode:',mumbai['PM10'].mode())
print('mean:',mumbai['PM10'].mean())
print('median:',mumbai['PM10'].median())

mode: 0      42.66
1      44.55
2      45.85
3      46.59
4      52.48
5      52.92
6      54.45
7      55.60
8      67.13
9      67.46
10     67.74
11     75.24
12     82.21
13     89.58
14    108.48
15    158.76
Name: PM10, dtype: float64
mean: 96.74505897771952
median: 77.88

In [185]:
mumbai['PM10']=mumbai['PM10'].fillna(mumbai['PM10'].median())

In [186]:
print('mode:',mumbai['NO'].mode())
print('mean:',mumbai['NO'].mean())
print('median:',mumbai['NO'].median())

mode: 0    22.59
Name: NO, dtype: float64
mean: 31.01413298565841
median: 25.34

In [187]:
mumbai['NO']=mumbai['NO'].fillna(mumbai['NO'].median())

In [188]:
print('mode:',mumbai['NO2'].mode())
print('mean:',mumbai['NO2'].mean())
print('median:',mumbai['NO2'].median())

mode: 0     9.80
1     9.91
2    11.30
3    15.53
4    16.35
Name: NO2, dtype: float64
mean: 25.55521164021164
median: 21.46

In [189]:
mumbai['NO2']=mumbai['NO2'].fillna(mumbai['NO2'].median())

In [190]:
print('mode:',mumbai['NOx'].mode())
print('mean:',mumbai['NOx'].mean())
print('median:',mumbai['NOx'].median())

mumbai['NOx']=mumbai['NOx'].fillna(mumbai['NOx'].median())

mode: 0    18.87
1    19.25
2    22.96
3    23.00
4    23.02
5    23.05
6    26.17
7    27.50
8    37.14
9    57.87
Name: NOx, dtype: float64
mean: 55.03879470198676
median: 41.879999999999995

In [191]:
print('mode:',mumbai['CO'].mode())
print('mean:',mumbai['CO'].mean())
print('median:',mumbai['CO'].median())

mumbai['CO']=mumbai['CO'].fillna(mumbai['CO'].mean())

mode: 0    0.0
Name: CO, dtype: float64
mean: 0.5683618951612904
median: 0.0

In [192]:
print('mode:',mumbai['SO2'].mode())
print('mean:',mumbai['SO2'].mean())
print('median:',mumbai['SO2'].median())

mumbai['SO2']=mumbai['SO2'].fillna(mumbai['SO2'].median())

mode: 0     8.57
1     8.75
2     9.46
3    11.08
4    11.77
5    12.06
Name: SO2, dtype: float64
mean: 15.197515842839037
median: 12.67

In [193]:
print('mode:',mumbai['O3'].mode())
print('mean:',mumbai['O3'].mean())
print('median:',mumbai['O3'].median())

mumbai['O3']=mumbai['O3'].fillna(mumbai['O3'].mean())

mode: 0    12.88
1    15.25
2    45.84
Name: O3, dtype: float64
mean: 33.058946047678795
median: 29.62

In [194]:
print('mode:',mumbai['Benzene'].mode())
print('mean:',mumbai['Benzene'].mean())
print('median:',mumbai['Benzene'].median())

mumbai['Benzene']=mumbai['Benzene'].fillna(mumbai['Benzene'].mean())

mode: 0    0.0
Name: Benzene, dtype: float64
mean: 1.0986047804335741
median: 0.0

In [195]:
print('mode:',mumbai['Toluene'].mode())
print('mean:',mumbai['Toluene'].mean())
print('median:',mumbai['Toluene'].median())

mumbai['Toluene']=mumbai['Toluene'].fillna(mumbai['Toluene'].mean())

mode: 0    0.0
Name: Toluene, dtype: float64
mean: 0.013454724409448816
median: 0.0

In [196]:
print('mode:',mumbai['Xylene'].mode())
print('mean:',mumbai['Xylene'].mean())
print('median:',mumbai['Xylene'].median())

mumbai['Xylene']=mumbai['Xylene'].fillna(mumbai['Xylene'].mean())

mode: 0    0.0
Name: Xylene, dtype: float64
mean: 0.008009852216748768
median: 0.0

In [197]:
print('mode:',mumbai['AQI'].mode())
print('mean:',mumbai['AQI'].mean())
print('median:',mumbai['AQI'].median())

mumbai['AQI']=mumbai['AQI'].fillna(mumbai['AQI'].median())

mode: 0    64.0
1    67.0
2    90.0
Name: AQI, dtype: float64
mean: 105.35225806451614
median: 91.0

In [198]:
mumbai.isnull().sum()

City             0
Date             0
PM2.5            0
PM10             0
NO               0
NO2              0
NOx              0
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI              0
AQI_Bucket    1234
dtype: int64

In [199]:
def get_aqi_bucket(aqi):
    if pd.isnull(aqi):  # Handle missing AQI values if necessary
        return None
    elif aqi <= 50:
        return 'Good'
    elif aqi <= 100:
        return 'Moderate'
    elif aqi <= 150:
        return 'Unhealthy for Sensitive Groups'
    elif aqi <= 200:
        return 'Unhealthy'
    elif aqi <= 300:
        return 'Very Unhealthy'
    else:
        return 'Hazardous'

# Fill missing values in AQI_Bucket based on AQI values
mumbai['AQI_Bucket'] = mumbai['AQI_Bucket'].fillna(
    mumbai['AQI'].apply(get_aqi_bucket)
)

# Display the updated DataFrame and check for null values
print(mumbai[['AQI', 'AQI_Bucket']].head())
print("Remaining null values in AQI_Bucket:", mumbai['AQI_Bucket'].isnull().sum())

        AQI AQI_Bucket
21855  91.0   Moderate
21856  91.0   Moderate
21857  91.0   Moderate
21858  91.0   Moderate
21859  91.0   Moderate
Remaining null values in AQI_Bucket: 0

In [200]:
from sklearn.preprocessing import LabelEncoder
Label=LabelEncoder()

# Encode the 'City' column
mumbai['City'] = Label.fit_transform(mumbai['City'])
mumbai['AQI_Bucket']=Label.fit_transform(mumbai['AQI_Bucket'])

In [201]:
mumbai['Date'] = pd.to_datetime(mumbai['Date'])  # Convert to datetime

# Extract year, month, and day as separate columns
mumbai['Year'] = mumbai['Date'].dt.year
mumbai['Month'] = mumbai['Date'].dt.month
mumbai['Day'] = mumbai['Date'].dt.day

# Drop the original 'Date' column
mumbai = mumbai.drop('Date', axis=1)

In [202]:
mumbai.head()

,City,PM2.5,PM10,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month,Day
21855,0,23.745,77.88,25.34,21.46,27.38,0.0,12.67,33.058946,0.0,0.0,0.0,91.0,1,2015,1,1
21856,0,23.745,77.88,25.34,21.46,26.20,0.0,12.67,33.058946,0.0,0.0,0.0,91.0,1,2015,1,2
21857,0,23.745,77.88,25.34,21.46,26.04,0.0,12.67,33.058946,0.0,0.0,0.0,91.0,1,2015,1,3
21858,0,23.745,77.88,25.34,21.46,25.97,0.0,12.67,33.058946,0.0,0.0,0.0,91.0,1,2015,1,4
21859,0,23.745,77.88,25.34,21.46,25.18,0.0,12.67,33.058946,0.0,0.0,0.0,91.0,1,2015,1,5

In [203]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
import xgboost as xgb

In [204]:
# Drop 'AQI' and 'AQI_Bucket' from features (X)
X = mumbai.drop(['AQI', 'AQI_Bucket'], axis=1)

# Select 'AQI' and 'AQI_Bucket' as target variables (y)
y = mumbai[['AQI', 'AQI_Bucket']]

In [205]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [206]:
# Convert data to DMatrix format (optional, but optimized for XGBoost)
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Set hyperparameters
params = {
    'objective': 'reg:squarederror',  # Regression objective
    'max_depth': 6,
    'learning_rate': 0.1,
    'n_estimators': 100,
    'eval_metric': 'rmse'             # Root Mean Squared Error
}

# Train the model
model = xgb.train(params, dtrain, num_boost_round=100)

C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages\xgboost\core.py:158: UserWarning: [20:05:43] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)

In [207]:
# Predict on test data
y_pred = model.predict(dtest)

# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

print(f"RMSE: {rmse:.2f}")
print(f"MAE: {mae:.2f}")

RMSE: 6.74
MAE: 1.89

In [208]:
print(y_pred)

[[9.28011703e+01 2.93392634e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.09668884e+01 9.99761045e-01]
 [1.03126877e+02 1.45610595e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.11324234e+01 9.94530380e-01]
 [9.11513062e+01 1.38002741e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09921036e+01 9.93222952e-01]
 [9.09530869e+01 1.00003052e+00]
 [9.09668884e+01 9.99761045e-01]
 [1.22545639e+02 9.70975041e-01]
 [9.10208969e+01 9.93222952e-01]
 [9.09493332e+01 1.00177026e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.10208969e+01 9.93222952e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.09530869e+01 1.00003052e+00]
 [7.82943649e+01 2.16445351e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09668884e+01 9.99598086e-01]
 [9.10063324e+01 9.99598086e-01]
 [1.20798561e+02 1.06651866e+00]
 [9.09530869e+01 1.00019348e+00]
 [6.37491989e+01 2.93263459e+00]
 [1.46688904e+02 9.97963786e-01]
 [6.28860931e+01 3.20132327e+00]
 [9.17141876e+01 1.15804636e+00]
 [9.17141876e+01 1.15804636e+00]
 [1.65972977e+02 9.79161084e-01]
 [1.47745285e+02 1.10165179e+00]
 [5.99237442e+01 3.02886629e+00]
 [9.09668884e+01 9.99761045e-01]
 [7.90856552e+01 3.00219822e+00]
 [1.24818985e+02 1.10276020e+00]
 [9.10250931e+01 9.99761045e-01]
 [1.35015182e+02 9.33558464e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.09530869e+01 1.00003052e+00]
 [9.09631348e+01 9.99598086e-01]
 [1.75436356e+02 1.02960241e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 1.00193322e+00]
 [9.24762497e+01 1.41594458e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.10046539e+01 1.00133777e+00]
 [8.26229324e+01 2.85637951e+00]
 [9.09668884e+01 9.99761045e-01]
 [1.04658630e+02 2.17910051e+00]
 [7.94598389e+01 2.99483037e+00]
 [1.36770020e+02 1.03727603e+00]
 [9.09530869e+01 1.00019348e+00]
 [8.95680389e+01 2.96802258e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.64000320e+01 2.55888343e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 1.00193322e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.10057526e+01 9.99531806e-01]
 [7.12615356e+01 2.84828138e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09921036e+01 9.94962811e-01]
 [9.10277405e+01 9.73726571e-01]
 [5.05895767e+01 1.27791107e-01]
 [9.06068039e+01 2.21760321e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.10213394e+01 9.99531806e-01]
 [1.48233032e+02 1.17976224e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.10628586e+01 1.00133777e+00]
 [9.13292007e+01 9.80306983e-01]
 [5.81810837e+01 3.01019931e+00]
 [9.10208969e+01 9.93222952e-01]
 [9.11324234e+01 9.94530380e-01]
 [9.09493332e+01 1.00003052e+00]
 [1.37307373e+02 9.82945919e-01]
 [9.12006683e+01 1.13825727e+00]
 [9.10063324e+01 9.99598086e-01]
 [6.45215912e+01 2.97685981e+00]
 [9.09530869e+01 9.99694765e-01]
 [1.34037430e+02 9.72810864e-01]
 [9.10250931e+01 9.99598086e-01]
 [7.58458099e+01 2.85390759e+00]
 [9.56609879e+01 1.04642117e+00]
 [9.09631348e+01 9.99598086e-01]
 [9.09530869e+01 1.00193322e+00]
 [9.09956360e+01 1.11394966e+00]
 [1.52924377e+02 1.02053165e+00]
 [9.08986588e+01 9.91704226e-01]
 [1.15534088e+02 9.86652136e-01]
 [6.40415344e+01 2.93229175e+00]
 [1.68024139e+02 1.21349084e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.09921036e+01 9.94962811e-01]
 [9.10922012e+01 9.92790520e-01]
 [8.98663254e+01 3.02650976e+00]
 [9.40964661e+01 2.54734206e+00]
 [7.10787735e+01 2.58440518e+00]
 [1.43299927e+02 1.03731894e+00]
 [7.92126541e+01 2.81067944e+00]
 [1.60666901e+02 1.23162556e+00]
 [1.08503555e+02 2.54014826e+00]
 [9.09493332e+01 1.00003052e+00]
 [6.33357162e+01 2.86986709e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.11389084e+01 1.09065747e+00]
 [7.11228256e+01 3.01987410e+00]
 [1.29233536e+02 1.24784863e+00]
 [6.67269135e+01 2.79106784e+00]
 [6.95351486e+01 2.86341667e+00]
 [9.10046539e+01 1.00133777e+00]
 [9.50489731e+01 2.89385986e+00]
 [1.25451927e+02 9.97556508e-01]
 [9.09493332e+01 1.00003052e+00]
 [9.35991287e+01 2.02963734e+00]
 [8.25590439e+01 3.08504176e+00]
 [9.17141876e+01 1.15804636e+00]
 [9.09998550e+01 1.00177026e+00]
 [5.86801033e+01 1.93068111e+00]
 [9.10208969e+01 9.93222952e-01]
 [9.10057526e+01 1.00003052e+00]
 [9.71863403e+01 2.72858977e+00]
 [1.97870377e+02 1.77101421e+00]
 [9.10206451e+01 9.94962811e-01]
 [1.00984856e+02 1.52310777e+00]
 [9.09530869e+01 1.00019348e+00]
 [7.30402527e+01 2.94831967e+00]
 [6.52403107e+01 2.91763902e+00]
 [9.09631348e+01 9.99598086e-01]
 [9.09631348e+01 9.99598086e-01]
 [1.54816315e+02 1.02386177e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09631348e+01 9.99598086e-01]
 [9.09530869e+01 1.00003052e+00]
 [7.79207230e+01 2.95283127e+00]
 [9.14805603e+01 2.76423287e+00]
 [9.10250931e+01 9.99694765e-01]
 [9.10208969e+01 9.92724240e-01]
 [9.10046539e+01 1.00133777e+00]
 [1.86905823e+02 1.62848425e+00]
 [1.97129456e+02 1.70226896e+00]
 [9.10208969e+01 9.92724240e-01]
 [9.09998550e+01 1.00177026e+00]
 [9.10057526e+01 1.00003052e+00]
 [4.93864288e+01 1.00830913e+00]
 [8.42631912e+01 2.27704835e+00]
 [9.10250931e+01 9.99761045e-01]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 9.99531806e-01]
 [9.10432816e+01 9.73726571e-01]
 [8.72821732e+01 2.12449241e+00]
 [9.09921036e+01 9.93222952e-01]
 [9.09530869e+01 1.00003052e+00]
 [9.83688354e+01 2.51191044e+00]
 [9.10063324e+01 9.99598086e-01]
 [9.09921036e+01 9.93222952e-01]
 [9.14781570e+01 9.76098478e-01]
 [8.48681870e+01 3.38375735e+00]
 [9.09530869e+01 9.99531806e-01]
 [1.07219757e+02 1.59125662e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09998550e+01 1.00177026e+00]
 [5.41342201e+01 2.98479033e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09668884e+01 9.99598086e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99761045e-01]
 [1.70362946e+02 1.56799030e+00]
 [7.53022537e+01 2.95512176e+00]
 [9.09631348e+01 1.00133777e+00]
 [8.84335175e+01 2.89437866e+00]
 [2.20656769e+02 1.40552008e+00]
 [1.09692749e+02 1.02005017e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.09530869e+01 1.00019348e+00]
 [9.09530869e+01 9.99694765e-01]
 [9.12035294e+01 1.01633346e+00]
 [9.10628586e+01 1.00133777e+00]
 [1.70469559e+02 9.72826183e-01]
 [6.29575958e+01 2.92719150e+00]
 [9.09998550e+01 1.00177026e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.09530869e+01 1.00003052e+00]
 [6.28171005e+01 3.01294088e+00]
 [9.09493332e+01 1.00003052e+00]
 [6.68418427e+01 2.96372008e+00]
 [5.87808685e+01 2.61666155e+00]
 [9.09631348e+01 9.99598086e-01]
 [9.10628586e+01 1.00127149e+00]
 [9.10046539e+01 1.00133777e+00]
 [2.07568924e+02 1.23608041e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.70826035e+01 2.84740400e+00]
 [6.16472664e+01 3.23377585e+00]
 [9.10922012e+01 9.92790520e-01]
 [9.10250931e+01 9.99761045e-01]
 [9.09631348e+01 9.99598086e-01]
 [6.16776009e+01 2.93601179e+00]
 [1.79682236e+02 1.13072443e+00]
 [1.36983475e+02 9.64691818e-01]
 [8.00659409e+01 2.94973588e+00]
 [9.12726746e+01 9.95056272e-01]
 [7.11757126e+01 2.88409829e+00]
 [9.09668884e+01 9.99598086e-01]
 [9.10628586e+01 1.00127149e+00]
 [2.88502838e+02 2.50768113e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09631348e+01 9.99598086e-01]
 [2.25339035e+02 1.20906293e+00]
 [1.21251633e+02 1.15571642e+00]
 [9.12144699e+01 9.95056272e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.09530869e+01 1.00019348e+00]
 [9.09530869e+01 1.00019348e+00]
 [6.02171135e+01 2.99929833e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.10208969e+01 9.93222952e-01]
 [8.40013885e+01 2.92070627e+00]
 [9.04363403e+01 2.88532352e+00]
 [2.22817368e+02 1.65687311e+00]
 [1.02855606e+02 2.14366055e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99598086e-01]
 [9.09493332e+01 9.99531806e-01]
 [9.09530869e+01 9.99694765e-01]
 [9.09493332e+01 1.00003052e+00]
 [1.42637482e+02 9.81043756e-01]
 [9.09631348e+01 9.99598086e-01]
 [9.09530869e+01 1.00019348e+00]
 [9.09530869e+01 1.00019348e+00]
 [7.98267822e+01 2.92828369e+00]
 [6.66302795e+01 2.98613453e+00]
 [5.34041023e+01 2.75184774e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.12204514e+01 1.13086569e+00]
 [9.01289978e+01 1.20712435e+00]
 [9.10063324e+01 9.99598086e-01]
 [9.10057526e+01 1.00003052e+00]
 [9.09530869e+01 1.00019348e+00]
 [1.31096390e+02 9.79323506e-01]
 [9.67437973e+01 1.64481032e+00]
 [1.13000748e+02 9.66880441e-01]
 [9.09530869e+01 9.99694765e-01]
 [9.10206451e+01 9.94962811e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.11324234e+01 9.92790520e-01]
 [6.51604080e+01 2.96403480e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.24993286e+01 2.98577547e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99761045e-01]
 [1.48674652e+02 1.00062227e+00]
 [9.10208969e+01 9.93222952e-01]
 [9.08986588e+01 9.91704226e-01]
 [9.09631348e+01 9.99598086e-01]
 [6.64120865e+01 3.00517702e+00]
 [9.09668884e+01 1.00150073e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.11324234e+01 9.92790520e-01]
 [8.76155396e+01 2.83947110e+00]
 [9.10250931e+01 9.99761045e-01]
 [2.48795364e+02 1.90038192e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.09631348e+01 9.99598086e-01]
 [9.13430023e+01 9.76098478e-01]
 [9.09530869e+01 1.00003052e+00]
 [7.35878601e+01 2.99524665e+00]
 [9.11324234e+01 9.92790520e-01]
 [9.12109146e+01 9.97866809e-01]
 [5.63125229e+01 2.97015047e+00]
 [9.10538406e+01 9.95056272e-01]
 [5.68970032e+01 2.97573137e+00]
 [9.10250931e+01 9.99761045e-01]
 [1.00427071e+02 1.70857644e+00]
 [9.09493332e+01 1.00003052e+00]
 [6.51849747e+01 3.02303505e+00]
 [6.48039932e+01 3.01695538e+00]
 [9.10432816e+01 9.73726571e-01]
 [9.10046539e+01 1.00133777e+00]
 [9.08181610e+01 1.08662331e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.11863556e+01 9.21785772e-01]
 [9.10046539e+01 1.00133777e+00]
 [9.09530869e+01 1.00193322e+00]
 [9.09530869e+01 1.00003052e+00]
 [7.93159256e+01 2.56136417e+00]
 [1.49534042e+02 1.50209200e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.10046539e+01 1.00133777e+00]
 [9.09921036e+01 9.92724240e-01]
 [6.77292023e+01 3.13531280e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09631348e+01 9.99598086e-01]
 [1.17768135e+02 9.97133434e-01]
 [9.09530869e+01 1.00019348e+00]
 [9.37900696e+01 1.06268311e+00]
 [9.10250931e+01 1.00150073e+00]
 [9.16012344e+01 2.85207129e+00]
 [1.22508804e+02 1.15804636e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.10250931e+01 9.99761045e-01]
 [1.22508804e+02 1.15804636e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.12109146e+01 1.11394966e+00]
 [1.34014603e+02 1.08521163e+00]
 [8.30906525e+01 2.99729180e+00]
 [1.30712433e+02 1.09518254e+00]
 [9.09668884e+01 9.99761045e-01]
 [1.32499161e+02 1.07028234e+00]
 [9.09530869e+01 1.00003052e+00]
 [1.03602394e+02 2.39659333e+00]
 [9.54693832e+01 2.75317979e+00]
 [1.05732353e+02 1.26907074e+00]
 [9.66902466e+01 2.31441164e+00]
 [9.09530869e+01 1.00019348e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.10250931e+01 9.99598086e-01]
 [9.10046539e+01 1.00133777e+00]
 [6.42313309e+01 3.03360009e+00]
 [9.09668884e+01 9.99761045e-01]
 [7.23122635e+01 2.96823239e+00]
 [9.09921036e+01 9.93222952e-01]
 [6.69082108e+01 2.80489492e+00]
 [7.73634109e+01 3.15401411e+00]
 [8.21757812e+01 3.02948737e+00]
 [9.09921036e+01 9.94962811e-01]
 [9.11324234e+01 9.92790520e-01]
 [8.86805496e+01 2.60292840e+00]
 [6.22679214e+01 2.90361857e+00]
 [9.10057526e+01 1.00003052e+00]
 [9.14263687e+01 1.01633346e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.10208969e+01 9.93222952e-01]
 [1.57875839e+02 9.92188990e-01]
 [9.29263458e+01 1.14469850e+00]
 [9.10046539e+01 1.00133777e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.10208969e+01 9.93222952e-01]
 [6.30330505e+01 2.97289205e+00]
 [8.05420074e+01 2.58082962e+00]
 [1.33776840e+02 2.39006233e+00]
 [5.66853409e+01 1.82510769e+00]
 [1.80034210e+02 1.15780222e+00]
 [9.11389084e+01 1.11157775e+00]
 [9.09668884e+01 9.99598086e-01]
 [9.17626801e+01 9.76098478e-01]
 [9.10922012e+01 9.92790520e-01]
 [6.14667625e+01 3.02763343e+00]
 [9.09530869e+01 1.00003052e+00]
 [9.09530869e+01 1.00019348e+00]
 [8.49545822e+01 2.97618866e+00]
 [9.92829437e+01 2.42119694e+00]
 [9.09530869e+01 1.00019348e+00]
 [1.00308525e+02 1.85829163e+00]
 [9.09921036e+01 9.94962811e-01]
 [9.10046539e+01 1.00133777e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09493332e+01 1.00003052e+00]
 [9.09530869e+01 1.00003052e+00]
 [5.51832809e+01 3.02737594e+00]
 [7.10422211e+01 2.98896623e+00]
 [9.10628586e+01 1.00133777e+00]
 [7.91916275e+01 2.37023282e+00]
 [9.09631348e+01 9.99598086e-01]
 [8.23290634e+01 2.66818953e+00]
 [1.43010727e+02 9.60791409e-01]
 [9.09530869e+01 1.00019348e+00]
 [7.83112183e+01 3.01364517e+00]
 [8.36812744e+01 2.80810285e+00]
 [9.10208969e+01 9.93222952e-01]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99761045e-01]
 [1.65171188e+02 1.17819560e+00]
 [9.10208969e+01 9.93222952e-01]
 [9.09921036e+01 9.94962811e-01]
 [9.09530869e+01 1.00003052e+00]
 [9.09530869e+01 1.00019348e+00]
 [5.93383675e+01 2.98213863e+00]
 [1.40278458e+02 1.11632180e+00]
 [9.09668884e+01 9.99761045e-01]
 [9.09668884e+01 9.99761045e-01]
 [1.77863678e+02 1.14212751e+00]
 [9.86183243e+01 1.70925546e+00]
 [1.50221359e+02 1.00525105e+00]
 [8.84538803e+01 2.97536731e+00]
 [5.97915764e+01 2.62393236e+00]
 [9.09631348e+01 9.99598086e-01]
 [9.08986588e+01 9.91704226e-01]
 [8.60415955e+01 2.96182466e+00]
 [9.10922012e+01 9.92790520e-01]
 [8.75412445e+01 1.67736328e+00]]

In [210]:
mumbai.columns

Index(['City', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket', 'Year', 'Month',
       'Day'],
      dtype='object')

In [211]:
import pickle

import pickle

# Assuming 'model' is your trained model and 'encoder' is the data encoder
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

with open('encoder.pkl', 'wb') as f:
    pickle.dump(Label, f)

In [212]:
mumbai.dtypes

City            int32
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket      int32
Year            int32
Month           int32
Day             int32
dtype: object